@model Projeto1_Web2_IF_johnnata.Models.TbProfissional

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TbProfissional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoProfissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoProfissional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrmCrn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrmCrn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ddd1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ddd1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ddd2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ddd2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCidadeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCidadeNavigation.IdCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdContratoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @if (Model?.IdContratoNavigation?.IdPlanoNavigation != null)
            {
                <strong>@Model.IdContratoNavigation.IdPlanoNavigation.Nome</strong>
                <text> (Contrato #@Model.IdContratoNavigation.IdContrato)</text>
                <br />
                @if (Model.IdContratoNavigation.DataInicio.HasValue || Model.IdContratoNavigation.DataFim.HasValue)
                {
                    <small class="text-muted">
                        @if (Model.IdContratoNavigation.DataInicio.HasValue)
                        {
                            <text>Início: @Model.IdContratoNavigation.DataInicio.Value.ToString("dd/MM/yyyy")</text>
                        }
                        @if (Model.IdContratoNavigation.DataInicio.HasValue && Model.IdContratoNavigation.DataFim.HasValue)
                        {
                            <text> | </text>
                        }
                        @if (Model.IdContratoNavigation.DataFim.HasValue)
                        {
                            <text>Fim: @Model.IdContratoNavigation.DataFim.Value.ToString("dd/MM/yyyy")</text>
                        }
                    </small>
                }
            }
            else
            {
                @Html.DisplayFor(model => model.IdContratoNavigation.IdContrato)
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoAcessoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoAcessoNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProfissional" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
